  <%- include('partials/header') %>

 
<nav class="navbar nav_side">
  <div class="content">
    <div class="logo">
      <img class="slogo"src="images/slogo.png" alt="">

    </div>
    <ul class="menu-list">
      <div class="icon cancel-btn">
        <i class="fas fa-times" style="color:red"></i>
      </div>
      <li><a href="/home">Home</a></li>
      <li><a href="/about_me">About me</a></li>
      <li><a href="/skills">My Skills</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/contact_me">Contact me</a></li>
    </ul>
    <div class="icon menu-btn">
      <i class="fas fa-bars" style="color:aqua"></i>
    </div>
  </div>
</nav>

   <div class="about_me_side"> 
    <div class="container2" >
        <div class="col_21" >
          <!--    -->
  
          <div id="box-span">
            <div class="border"> 
            <div class="flex">
             <span class="alpha alpha_side_one" >A</span >
             <span class="alpha alpha_side_one">b</span >
             <span class="alpha alpha_side_one">o</span >
             <span class="alpha alpha_side_one">u</span >
             <span class="alpha alpha_side_one">t</span >
              <div class="me"></div>
             <span class="alpha alpha_side_one">m</span >
             <span class="alpha alpha_side_one">e</span >
             
           
            
          </div>
         </div>
         
         </div>
  
  
           <!--  -->
           <p class="para_first"> 
            I'm a web developer. My passion for code has begun when I was 16
            The primary area of my interest is front-end for now and I'm 18.
          </p>
  
          <p class="para_first">
            I am the one who created this website for experience.
            I have been fortunate to do what I love.
          </p>
          <p class="para_first">
            I'm currently a college student and I'm open for new opportunities which leads to my knowledge.
          </p>
  
        </div>
  
        <div class="col_22 col_22_side">
          <img src="images/running.png" alt="">
         </div>
  
      </div>
    </div>    
  <%- include('partials/footer') %>
      