<%- include('partials/header') %>

  <nav class="navbar">
    <div class="content">
      <div class="logo">
        <img class="slogo"src="images/slogo.png" alt="">
        <a href="#"></a>
      </div>
      <ul class="menu-list">
        <div class="icon cancel-btn">
          <i class="fas fa-times" style="color:red"></i>
        </div>
        <li><a href="#">Hom</a></li>
        <li><a href="/about_me">About me</a></li>
        <li><a href="/skills">My Skills</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/contact_me">Contact me</a></li>
      </ul>
      <div class="icon menu-btn">
        <i class="fas fa-bars" style="color:aqua"></i>
      </div>
    </div>
  </nav>
  
    <!-- text mouseover animation  -->
    
 <div class="container ">
   

  <div id="particles-js">  
    <div id="box" class="box-center">
      
       <div class="border">
       <div class="flex">
        <span class="alpha alpha_loading" >H</span >
        <span class="alpha alpha_loading">i</span >
        <span class="alpha alpha_loading">,</span >
       </div>
   
       <div class="flex">
        <span class="alpha alpha_loading">I</span >
        <span class="alpha alpha_loading">'</span >
        <span class="alpha alpha_loading">m</span >
      <div class="me"></div>
      
        <span class=" alpha_loading" style=color:#12afec> <img class="slogo1"src="images/slogo.png" alt="">  </span >
        <span class="alpha alpha_loading">u</span >
        <span class="alpha alpha_loading">j</span >
        <span class="alpha alpha_loading">a</span >
        <span class="alpha alpha_loading">y</span >
      
       </div>  
     <div class="flex">
        <span class="alpha alpha_loading">w</span > 
        <span class="alpha alpha_loading">e</span >
        <span class="alpha alpha_loading">b</span >
       <div class="me"></div>
        <span class="alpha alpha_loading">d</span >
        <span class="alpha alpha_loading">e</span >
        <span class="alpha alpha_loading">v</span >
        <span class="alpha alpha_loading">e</span >
        <span class="alpha alpha_loading">l</span >
        <span class="alpha alpha_loading">o</span >
        <span class="alpha alpha_loading">p</span >
        <span class="alpha alpha_loading">e</span >
        <span class="alpha alpha_loading">r</span >
     </div>
    </div>
  </div>
  
  <div class="scrollbar_center" id="container2">
    <span></span>
    <span></span>
    <span></span>
  </div>

</div>

    
  
  
<!-- scrollbar anime  -->
   
  </div>
    <!-- scrollbar anime end -->
    <!-- text mouseover animation end -->
    
    <div class="container2" >
      <div class="col_21" >
        <!--    -->

        <div id="box-span">
          <div class="border"> 
          <div class="flex">
           <span class="alpha alpha_first" >A</span >
           <span class="alpha alpha_first">b</span >
           <span class="alpha alpha_first">o</span >
           <span class="alpha alpha_first">u</span >
           <span class="alpha alpha_first">t</span >
            <div class="me"></div>
           <span class="alpha alpha_first">m</span >
           <span class="alpha alpha_first">e</span >
           
         
          
        </div>
       </div>
       
       </div>


         <!--  -->
        <p class="para_first"> 
          I'm a web developer. My passion for code has begun when I was 16
          The primary area of my interest is front-end for now and I'm 18.
        </p>

        <p class="para_first">
          I am the one who created this website for experience.
          I have been fortunate to do what I love.
        </p>
        <p class="para_first">
          I'm currently a college student and I'm open for new opportunities which leads to my knowledge.
        </p>

      </div>

      <div class="col_22">
        <img class="run"src="images/running.png" alt="">
       </div>

    </div>
    
    <div class="scroll_dis" id="container3">
      <div class="scrollbar_side1">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="scrollbar_side2">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>  

  <div class="container3">
     <div class="col_31">
      <div id="box-span">
        <div class="border"> 
        <div class="flex">
         <span class="alpha alpha_second" >M</span >
         <span class="alpha alpha_second">y</span >
          <div class="me"></div>
         <span class="alpha alpha_second">S</span >
         <span class="alpha alpha_second">k</span >
         <span class="alpha alpha_second">i</span >
         <span class="alpha alpha_second">l</span >
         <span class="alpha alpha_second">l</span >
         <span class="alpha alpha_second">s</span >
      </div>
     </div>
    </div>
      <div class="skills" data-tilt data-tilt-max="10" data-tilt-scale="1.03" data-tilt-glare data-tilt-max-glare="0.06" data-tilt-speed="400" data-tilt-perspective="1000000">
       <div class="progress_space"> 
    
        <div class="skillname">Frontend</div>
      
        <br>
        <div class="progressbar">
          <div class="progressone progressone1"></div>
        </div>
      </div>

      <div class="progress_space"> 
     
        <div class="skillname">Backend</div>
        <br>
        <div class="progressbar">
          <div class="progresstwo progressone2"></div>
        </div>
        </div>

       <div class="progress_space">
        <div class="skillname">Python</div>
        <br>
        <div class="progressbar">
          <div class="progressthree progressone3"></div>
        </div>
        </div>

       
        <div class="skillname">C++</div>
        <br>
        <div class="progressbar">
          <div class="progressfour progressone4"></div>
          <br>
        </div>
        <h1 style="color:rgba(39, 37, 37, 0.3);display:unset;">.</h1>
      </div>


    </div>
    <div class="col_32">
      <p class="para_second para_second_side">
        I have been working on my skills. So far I have the basic knowledge of PYTHON, c and c++. And have intermediate knowledge on front-end development.
       </p>
   
       <p class="para_second para_second_side">
         I create successful responsive websites that are fast, easy to use, and built with best practices.
          The main area of my expertise is front-end development, HTML, CSS, JS.
   
       </p>
       <p class="para_second para_second_side"> 
         I am currenty a college student and have the passion to improve my skills to the utmost in upcoming years.
       </p>


    </div>
   
  </div>
  <br>
    <div class="scroll_dis" id="container4">
      <div class="scrollbar_side1">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="scrollbar_side2">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
     <!-- start of fourth container  -->
      <div id="box-span" class="box-span" >
        <div class="border"> 
        <div class="flex">
         <span class="alpha alpha_third"  >M</span >
         <span class="alpha alpha_third">y</span >
          <div class="me"></div>
         <span class="alpha alpha_third">P</span >
         <span class="alpha alpha_third">r</span >
         <span class="alpha alpha_third">o</span >
         <span class="alpha alpha_third">j</span >
         <span class="alpha alpha_third">e</span >
         <span class="alpha alpha_third">c</span >
         <span class="alpha alpha_third">t</span >
         <span class="alpha alpha_third">s</span >

         </div>
     </div>
    </div>
    <div class="container4">
    
     
    

    <div class="card_container"> 
        <div class="card cardone"  href="/project1" data-tilt data-tilt-max="10" data-tilt-scale="1.03" data-tilt-glare data-tilt-max-glare="0.1" data-tilt-speed="400" data-tilt-perspective="1000000">
         <!-- <img src="" alt=""> -->
         <a href="/project1">
         <video autoplay muted loop >
           <source src="videos/video2_javascript.mp4" type="video/mp4">
         </video>
         <div class="title"><h1>coding </h1></div>
          <div class="content">
            <p> I am looking forward to make projects with python to build gaming A.I, Chatbox and many more
          </p>
          </div>
        </a>
        </div>

    
      <div class="card gaming rgb" href="/project1" data-tilt data-tilt-max="10" data-tilt-scale="1.09" data-tilt-glare data-tilt-max-glare="0" data-tilt-speed="400" data-tilt-perspective="1000000">
        <!-- <img src="web_dev.jpg" alt=""> -->
        <a href="/project1"> 
        <video autoplay muted loop >
          <source src="videos/gaming.mp4" type="video/mp4">
        </video>
         <div class="title"><h1>gaming</h1></div>
         <div class="content">
           <p> I have the specific interest in game development and have to know a lot about Blender,Unreal Engine,Unity softwares by creating the projects.
            
                     </p>
       </div>
      </a>
      </div>

      <div class="card cardthree" href="/project1" data-tilt data-tilt-max="10" data-tilt-scale="1.03" data-tilt-glare data-tilt-max-glare="0.1" data-tilt-speed="400" data-tilt-perspective="1000000">
        <!-- <img src="web_dev.jpg" alt=""> -->
        <a href="/project1"> 
      
        <video autoplay muted loop >
          <source src="videos/video2_javascript.mp4" type="video/mp4">
        </video>
        <div class="title"><h1>javascript</h1></div>
         <div class="content">
           <p> For creating the mini-website games and to gain thinking level of coding problems.
            
         </p>
         </div>
        </a>
       </div>
    


      </div>
     
    </div>
    
    <div class="scroll_dis" id="container4">
      <div class="scrollbar_side1">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="scrollbar_side2">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
     <!-- end of fourth container  -->

     <!-- start of fifth container  -->
<br>
<div id="box-span" class="box-span" >
  <div class="border"> 
  <div class="flex">
   <span class="alpha alpha_four" >C</span >
   <span class="alpha alpha_four">o</span >
   <span class="alpha alpha_four">n</span >
   <span class="alpha alpha_four">t</span >
   <span class="alpha alpha_four">a</span >
   <span class="alpha alpha_four">c</span >
   <span class="alpha alpha_four">t</span >
    <div class="me"></div>
   <span class="alpha alpha_four">m</span >
   <span class="alpha alpha_four">e</span >
  

   </div>
</div>
</div>
<form  action="https://formsubmit.co/sujaysy0006@gmail.com" method="POST"> 
     <div class="container5" >
    
       <div class="wrapper">
         <div class="contact_form">
         
           <div class="inputfields">
            <input type="hidden" name="_captcha" value="false">
            <input type="hidden" name="_subject" value="New submission!">
               <input type="text" class="sameinput" name="name" placeholder="name" required>
               <input type="email" class="sameinput" name="email"placeholder="email" required>
               <input type="text" class="sameinput" name="subject"placeholder="subject" required>
              <input type="hidden" name="_next" value="https://sujay-personal-website.herokuapp.com/thanks">
             
               <!-- <input type="text" placeholder=""> -->
           </div>
           <div class="msg">
             <textarea placeholder="message" class="samemsg" name="message"></textarea>
             
              <div class="btn samemsg"><button class="button">send</button> </div>
           
           </div>
        
         </div>
       </div>
  
        <!--    -->
      </div>
    </form>

         <!--  -->
        <div class="footform">

        </div>
   

          <!-- end of fifth container  -->

<%- include('partials/footer') %>
