<%- include('partials/header') %>
<nav class="navbar nav_side">
    <div class="content">
      <div class="logo">
        <img class="slogo"src="images/slogo.png" alt="">
        
      </div>
      <ul class="menu-list">
        <div class="icon cancel-btn">
          <i class="fas fa-times" style="color:red"></i>
        </div>
        <li><a href="/home">Home</a></li>
        <li><a href="/about_me">About me</a></li>
        <li><a href="/skills">My Skills</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/contact_me">Contact me</a></li>
      </ul>
      <div class="icon menu-btn">
        <i class="fas fa-bars" style="color:aqua"></i>
      </div>
    </div>
  </nav>

  <div id="particles-js">  
<div class="coming_soon">
    <h1 class="coming_soon_side">Coming</h1>
    
    <h1 class="coming_soon_side">soon</h1>
</div>
  </div>
<%- include('partials/footer') %>
