<%- include('partials/header') %>

<nav class="navbar nav_side">
    <div class="content">
      <div class="logo">
        <img class="slogo"src="images/slogo.png" alt="">

      </div>
      <ul class="menu-list">
        <div class="icon cancel-btn">
          <i class="fas fa-times" style="color:red"></i>
        </div>
        <li><a href="/home">Home</a></li>
        <li><a href="/about_me">About me</a></li>
        <li><a href="/skills">My Skills</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/contact_me">Contact me</a></li>
      </ul>
      <div class="icon menu-btn">
        <i class="fas fa-bars" style="color:aqua"></i>
      </div>
    </div>
  </nav>
   <!-- start of fourth container  -->
   <div class="projects_side">
    <div id="box-span" class="box-span" >
      <div class="border"> 
      <div class="flex">
       <span class="alpha alpha_side_three"  >M</span >
       <span class="alpha alpha_side_three">y</span >
        <div class="me"></div>
       <span class="alpha alpha_side_three">P</span >
       <span class="alpha alpha_side_three">r</span >
       <span class="alpha alpha_side_three">o</span >
       <span class="alpha alpha_side_three">j</span >
       <span class="alpha alpha_side_three">e</span >
       <span class="alpha alpha_side_three">c</span >
       <span class="alpha alpha_side_three">t</span >
       <span class="alpha alpha_side_three">s</span >

       </div>
   </div>
  </div>
  <div class="container4">
  
   
  

  <div class="card_container"> 
      <div class="card cardone cardone_side" href="/project1" data-tilt data-tilt-max="10" data-tilt-scale="1.03" data-tilt-glare data-tilt-max-glare="0.1" data-tilt-speed="400" data-tilt-perspective="1000000">
       <!-- <img src="" alt=""> -->
       <a href="/project1"> 
       <video autoplay muted loop >
         <source src="videos/video2_javascript.mp4" type="video/mp4">
       </video>
       <div class="title"><h1>coding </h1></div>
        <div class="content">
          <p> I am looking forward to make projects with python to build gaming A.I, Chatbox and many more
          </p>
        </div>
        </a>
      </div>

  
    <div class="card gaming gaming_side rgb" href="/project1" data-tilt data-tilt-max="10" data-tilt-scale="1.09" data-tilt-glare data-tilt-max-glare="0" data-tilt-speed="400" data-tilt-perspective="1000000">
      <!-- <img src="web_dev.jpg" alt=""> -->
      <a href="/project1"> 

      <video autoplay muted loop >
        <source src="videos/gaming.mp4" type="video/mp4">
      </video>
       <div class="title"><h1>gaming</h1></div>
       <div class="content">
        <p> I have the specific interest in game development and have to know a lot about Blender,Unreal Engine,Unity softwares by creating the projects.
            
        </p>
     </div>
    </a>

    </div>

    <div class="card cardthree cardthree_side" href="/project1"  data-tilt data-tilt-max="10" data-tilt-scale="1.03" data-tilt-glare data-tilt-max-glare="0.1" data-tilt-speed="400" data-tilt-perspective="1000000">
      <!-- <img src="web_dev.jpg" alt=""> -->
      <a href="/project1"> 

      <video autoplay muted loop >
        <source src="videos/video2_javascript.mp4" type="video/mp4">
      </video>
      <div class="title"><h1>javascript</h1></div>
       <div class="content">
        <p> For creating the mini-website games and to gain thinking level of coding problems.
            
        </p>
       </div>
    </a>

     </div>
  


    </div>
   
  </div>
</div>
  <%- include('partials/footer') %>