<%- include('partials/header') %>

<nav class="navbar nav_side">
    <div class="content">
      <div class="logo">
        <img class="slogo"src="images/slogo.png" alt="">

      </div>
      <ul class="menu-list">
        <div class="icon cancel-btn">
          <i class="fas fa-times" style="color:red"></i>
        </div>
        <li><a href="/home">Home</a></li>
        <li><a href="/about_me">About me</a></li>
        <li><a href="/skills">My Skills</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/contact_me">Contact me</a></li>
      </ul>
      <div class="icon menu-btn">
        <i class="fas fa-bars" style="color:aqua"></i>
      </div>
    </div>
  </nav>
<div class="skills_side">
<div class="container3">
   <div class="col_31">
    <div id="box-span">
      <div class="border"> 
      <div class="flex">
       <span class="alpha  alpha_side_two" >M</span >
       <span class="alpha  alpha_side_two">y</span >
        <div class="me"></div>
       <span class="alpha  alpha_side_two">S</span >
       <span class="alpha  alpha_side_two">k</span >
       <span class="alpha  alpha_side_two">i</span >
       <span class="alpha  alpha_side_two">l</span >
       <span class="alpha  alpha_side_two">l</span >
       <span class="alpha  alpha_side_two">s</span >
    </div>
   </div>
  </div>
    <div class="skills skill_side" data-tilt data-tilt-max="10" data-tilt-scale="1.03" data-tilt-glare data-tilt-max-glare="0.06" data-tilt-speed="400" data-tilt-perspective="1000000">
     <div class="progress_space"> 
  
      <div class="skillname skillname_side" >Frontend</div>
    
      <br>
      <div class="progressbar progressbar_side">
        <div class="progressone progressone1"></div>
      </div>
    </div>

    <div class="progress_space"> 
   
      <div class="skillname skillname_side" >Backend</div>
      <br>
      <div class="progressbar progressbar_side">
        <div class="progresstwo"></div>
      </div>
      </div>

     <div class="progress_space">
      <div class="skillname skillname_side" >Python</div>
      <br>
      <div class="progressbar progressbar_side">
        <div class="progressthree"></div>
      </div>
      </div>

     
      <div class="skillname skillname_side" >C++</div>
      <br>
      <div class="progressbar progressbar_side">
        <div class="progressfour"></div>
        <br>
      </div>
      <h1 style="color:rgba(39, 37, 37, 0.3);display:unset;">.</h1>
    </div>


  </div>
  <div class="col_32">
    <p class="para_second para_second_side">
     I have been working on my skills. So far I have the basic knowledge of PYTHON, c and c++. And have intermediate knowledge on front-end development.
    </p>

    <p class="para_second para_second_side">
      I create successful responsive websites that are fast, easy to use, and built with best practices.
       The main area of my expertise is front-end development, HTML, CSS, JS.

    </p>
    <p class="para_second para_second_side"> 
      I am currenty a college student and have the passion to improve my skills to the utmost in upcoming years.
    </p>


  </div>
 
</div>
</div>
<%- include('partials/footer') %>